.dialogBox {
  width: 640px;
  height: 96px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.dialogBox p {
  width: 480px;
}

.portraitContainer {
  flex-grow: 0;
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  padding: 4px;
  background-color: #db9864;
  box-shadow: 1px 2px 2px #b1695a, 2px 4px 4px #644749, 3px 6px 6px #111;
  border-top: 1px solid #e3bb88;
  border-radius: 2px;
  margin-bottom: 24px;
  margin-right: 4px;
}

.bossPortrait {
  box-sizing: border-box;
  margin: auto;
  width: 64px;
  height: 64px;
  background: url("/img/zett-talk.png");
}