/* MODAL */
modal {
  /*display: none;*/
}

modal .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
modal .modal .modal-body {
  background-color: #e3bb88;
  box-shadow: 2px 8px 16px rgba(34, 34, 34, 0.5);
  padding: 20px;
  width: 720px;
  margin: auto;
  margin-top: 216px;
}

modal .modal .modal-body h3 {
  display: block;
  margin: auto;
  text-align: center;
}

modal .modal .modal-body .buttonDiv {
  margin: auto;
  width: 360px;
}