@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Ruslan+Display');
@import "animations";
@import "attacks";
@import "characters";
@import "dialogue";
@import "gameelements";
@import "headerfooter";
@import "login";
@import "modal";
@import "tutorial";
@import "ui";
@import "users";

html, body, div, span, object, iframe, h1, h2, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
  background-color: #222222;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

body {
  margin-bottom: 96px;
}

p {
  margin-bottom: 8px;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

@-moz-document url-prefix() {
  h3, h4, h5, p, button, input {
    letter-spacing: -1px;
    word-spacing: -1px;
  }
}

.sizing {
  display: none;
  margin: auto;
  margin-top: 24px;
  width: 288px;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #e3bb88;
  border-radius: 2px;
  background-color: #db9864;
  box-shadow: 1px 2px 2px #b1695a, 2px 4px 4px #644749, 3px 6px 6px #111;
  h3 {
    text-align: center;
  }
}

@media (max-width:719px) {
  .container {
    display: none;
  }
  .sizing {
    display: block;
  }
}

@media (orientation:portrait) {
  .container {
    display: none;
  }
  .sizing {
    display: block;
  }
}

.push {
  height: 96px;
}

/* Body elements */

#main {
  z-index: 99;
  border-top: 1px solid #e3bb88;
  border-radius: 2px;
  background-color: #db9864;
  width: 680px;
  margin: auto;
  margin-top: 72px;
  margin-bottom: 16px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px #b1695a, 2px 4px 4px #644749, 3px 6px 6px #111;
}

h1 {
  display: none;
  color: #b1695a;
  width: 680px;
  margin: auto;
  font-family: 'Ruslan Display', cursive;
  font-size: 48px;
  font-weight: lighter;
  text-shadow: 1px 2px 2px #644749, 2px 4px 4px #111;
}

h2 {
  color: #b1695a;
  margin: auto;
  margin-bottom: 8px;
  font-family: 'Ruslan Display', cursive;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  text-shadow: 1px 2px 2px #644749, 2px 4px 4px #111;
}

button {
  flex-grow: 1;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-weight: bold;
  color: #db9864;
  text-shadow: 1px 1px 1px #644749, 2px 2px 2px #111, 0px 0px 2px #e3bb88;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: none;
  border-top: 1px solid #e3bb88;
  border-left: 1px solid #e3bb88;
  background-color: #db9864;
  background: linear-gradient(#b1695a, #644749);
  box-sizing: border-box;
  box-shadow: 1px 2px 2px #b1695a, 2px 4px 4px #644749, 3px 6px 6px #111;
}

button:active {
  background: linear-gradient(#644749, #b1695a);
}

.buttonDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#profileButtons {
  button {
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.padBottom {
  margin-bottom: 24px;
}

ul {
  font-size: 12px;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  li {
    text-align: center;
    margin: 8px;
    margin-right: 16px;
    margin-left: 16px;
  }
}

#aboutPage .blurb {
  margin-bottom: 16px;
  a, a:visited {
    font-weight: bold;
    color: #644749;
  }
  a:hover {
    transition: color 0.5s ease-in-out;
    color: #b1695a;
  }
}
#aboutPage h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}