<div id="gameInfo">
  <h2>Welcome to Spellcasters!</h2>
  <div class="buttonDiv">
    <button ng-click="goToInstructions()">Instructions</button>
    <button ng-click="goToActiveGame()">Start</button>
    <button ng-click="goToAbout()">About</button>
    <button ng-Show="!visible" ng-click="goToLogIn()">Log In</button>
    <button ng-Show="visible" ng-click="LogOut()">Log Out</button>
  </div>
</div>
<div class="musicPlayer">
  <!-- <audio autoplay="autoplay" loop >
    <source src="music/Spellcasters_short_theme.ogg" type="audio/ogg" >
  </audio> -->
  <div id="gameCanvas" class="splashImage">
    <!-- Splash image goes here -->
  </div>
  <button ng-click="openModal('custom-modal-2')">Open Modal 2</button>
  <p>{{ user }}</p>
  <button ng-if="visible" ng-click="goToUserProfile()">userprofile</button>
</div>

<modal id="custom-modal-2">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p></p>
            <button ng-click="closeModal('custom-modal-2');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>