<p>User Profile</p>
<p>{{ user }}</p>
<div>
  <p>Total Games Played: {{totalGames}}</p>
  <p>Total Time Played: {{totalTime}}</p>
  <p>Total Words Spelled: {{totalWords}}</p>

  <style> /* set the CSS */

    /* Line Graph */
    body { font: 12px Arial;}

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

    /* Bar Graph */
    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .axis--x path {
      display: none;
    }
    .totalWords{
      width: 960;
      height: 500;
    }

</style>
  <div class="totalGamesPlayed" ng-show="percentCompletedGraph">
  </div>
  <div class = 'totalWords' ng-show="totalWordsCompletedGraph"></div>
  <div id ='bubble-chart' ng-show="bubbleChartGraph"></div>
  <button ng-click="showGraph('percent')">Percent Completed Chart</button>
  <button ng-click="showGraph('totalWords')">Total Words Completed Chart</button>
  <button ng-click="showGraph('misspelledWords')">Misspelled Words Chart</button>
</div>