<div>
  <h2>The Team</h2>
  <div>
    Alan has been making pixel art for almost ten years and is the chief concept artist, background artist, UI/UX designer and sprite artist for SpellCasters. The look and feel of the game and site are his creation.
  </div>
  <div>
    BB
  </div>
  <div>
    Marta
  </div>
  <div>
    Renee began coding in college and recently began pursuing her career aspiration of becoming a full-stack web developer. She is also a graduate of Devleague's cohort 13. When she is not coding, she enjoys watching korean dramas and tv shows.
    For Spellcasters, Renee created the soundtrack, integrated music and sound effects, and assisted with game logic. She also created the APIs for the spells database, individual user statistics, and leaderboard statistics.
  </div>
  <div>
    Megan is a professional animator who provided additional concept art as well as roughs for the motion design of SpellCasters' character animations.
  </div>
  <div class="buttonDiv">
    <button ng-click="goToSplash()">Back</button>
    <button ng-click="goToActiveGame()">Start</button>
    <button ng-click="goToInstructions()">Tutorial</button>
  </div>
  <a ng-click="goToUserProfile()"><p class="loggedInAs">Hello, {{ user }}</p></a>
</div>