<div>
  <h2>The Team</h2>
  <div>
    Alan
  </div>
  <div>
    BB
  </div>
  <div>
    Marta
  </div>
  <div>
    Renee began coding in college and recently began pursuing her career aspiration of becoming a full-stack web developer. She is also a graduate of Devleague's cohort 13. When she is not coding, she enjoys watching korean dramas and tv shows. She enjoys being active and holds a second degree black-belt in Taekwondo.
  </div>
  <div>
    Megan
  </div>
  <div class="buttonDiv">
    <button ng-click="goToSplash()">Back</button>
    <button ng-click="goToActiveGame()">Start</button>
    <button ng-click="goToInstructions()">Tutorial</button>
  </div>
  <p class="loggedInAs">Hello, {{ user }}</p>
</div>