<div id="aboutPage">
  <h2>The Team</h2>
  <div class="blurb">
    <a href="https://github.com/SpaceToastCoastToCoast">Alan</a> has been making pixel art for almost ten years and is the chief concept artist, background artist, UI/UX designer and sprite artist for SpellCasters. The look and feel of the game and site are his creation. He also handled devops and server architecture.
  </div>
  <div class="blurb">
    <a href="https://github.com/peter987bp">Bryan</a> worked for a small web development company for a year while completing his last year of college. Afterwards, he headed out to Hawaii to grow as a Full Stack Developer. He is a recent graduate of Devleague.
    In the SpellCasters application, Bryan created and implemented the Postgres database, user login, and user registration. He also created the user profile and the D3 graphs for percent and total words completed.
  </div>
  <div class="blurb">
    <a href="https://github.com/MartaKatona">Marta</a> has been designing applications and architecture in the private sector as a professional project manager for more than a decade. Marta focused on Spellcasters' back-end functionality, including database design, user interface, and validations. She also implemented the bubble chart on the user profile. She is a recent graduate of Devleague cohort 13.
  </div>
  <div class="blurb">
    <a href="https://github.com/reneechar">Renee</a> began coding in college and recently began pursuing her career aspiration of becoming a Full-Stack Web Developer. She is also a graduate of Devleague's cohort 13.
    For SpellCasters, Renee created the soundtrack, integrated music and sound effects, and assisted with game logic. She also created the APIs for spells, individual user statistics, and leaderboard statistics. Additionally, she created the scoring algorithm.
  </div>
  <div class="blurb">
    <a href="http://www.mogonv.com">Megan</a> is a professional animator who provided additional concept art as well as roughs for the motion design of SpellCasters' character animations.
  </div>
  <div class="buttonDiv">
    <button ng-click="goToSplash()">Back</button>
    <button ng-click="goToActiveGame()">Start</button>
    <button ng-click="goToInstructions()">Tutorial</button>
  </div>
</div>