<div class="sizing">
  <h3>Sorry!</h3>
  <p>This game is not compatible with mobile devices. Please access this site from a computer.</p>
</div>
<main class="container">
<a ng-click="goToUserProfile()"><p class="loggedInAs">Hello, {{ userLink }}</p></a>
  <div id="main">
    <section ui-view>
      <!-- all the states will be rendered in here -->
    </section>
  </div>
  <a ui-sref="splash"><img src="/img/spellcasters_titletext.svg" id="svgLogo"></a>

  <div id="musicControls" class="buttonDiv">
    <div id='musicSettings'>
      <button ng-click="turnOnMusic()" ng-show="!music">Music 🔇&#xFE0E;</button>
      <button ng-click="turnOffMusic()" ng-show="music">Music 🔊&#xFE0E;</button>
    </div>
    <div id='soundEffectSettings'>
      <button ng-click="turnOnSoundEffects()" ng-show="!sound">Effects 🔇&#xFE0E;</button>
      <button ng-click="turnOffSoundEffects()" ng-show="sound">Effects 🔊&#xFE0E;</button>
    </div>
  </div>

  <div id="footer">
    <ul>
      <li>© SpellCasters 2016</li>
      <li><a ui-sref="splash">Home</a></li>
      <li><a ui-sref="about">About Us</a></li>
    </ul>
  </div>

</main>