<h2>Instructions</h2>
  <div ng-show="base" id="instructionsDiv">
    <div id="gameCanvas">
    <div id="playerInput">
      <p>Defeat Lord Zett and the Alphagators by casting spells as Alepha, a Spellcaster in training!</p>
      <p>Click START to begin the tutorial or BACK to return to the home page.</p>
      <div class="buttonDiv">
        <button ng-click="startTutorial()">START</button>
        <button ng-click="back()">BACK</button>
      </div>
    </div>
    </div>
  </div>
  <div ng-show="example" id="exampleInput">
    <p class="tutorialText" ng-show="tutorialText">Use the hint to figure out which word to spell.</p>
    <h4 class="hint" ng-show="showHint">HINT: {{ instructions.testWords[instructions.currentWord].hint }}</h4>
    <div id="gameCanvas">
      <div id="playerInput">
        <p class="tutorialText" ng-show="tutorialText">Use letters provided here to guess the correct word to spell.</p>
        <div ng-show="showTargetWord">
          <h4 class="targetWord">{{ instructions.testWords[instructions.currentWord].prompt }}</h4>
          <input focus-me="focusOnInput" ng-class="feedback" ng-model="input" type="text" name="spellWord" ng-paste="preventPaste($event)" ng-change="compare()" placeholder={{instructions.testWords[instructions.currentWord].word}} autofocus>
        </div>
        <h4 ng-show="!correct">
          You are spelling the word wrong. Hit the delete key until the text box is no longer red.
        </h4>
      </div>
      <div id="playerSpell" class="glow noCharge"></div>
      <div class="alepha alephaIdle"></div>
    </div>
  </div>
  <div ng-show="finishedMessage">
    <h4>You Have Completed the Tutorial!</h4>
    <button ng-click="back()">BACK</button>
  </div>
</div>
<a ng-click="goToUserProfile()"><p class="loggedInAs">Hello, {{ user }}</p></a>