<div ng-show="base" id="instructionsDiv">
  <div id="display">
    <h2>How To Play</h2>
  </div>
    <div id="gameCanvas">
      <div id="playerInput">
        <div class="padMe">
          <p>Defeat Lord Zett and the Alphagators by casting spells as Alepha, a Spellcaster in training!</p>
          <p>Click <strong>Start</strong> to begin the tutorial or <strong>Back</strong> to return to the home page.</p>
        </div>
        <div class="buttonDiv fullWidth">
          <button ng-click="startTutorial()">Start</button>
          <button ng-click="goToSplash()">Back</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="example" id="exampleInput">
    <div id="display">
      <h2>Instructions</h2>
      <p class="tutorialText" ng-show="tutorialText">Use the hint here to figure out which word to spell.
      <button ng-click="nextButton()">Next</button></p>
      <h4 class="hint tutorialHint" ng-show="showHint">HINT: {{ instructions.testWords[instructions.currentWord].hint }}</h4>
      <p class="hint tutorialHint" ng-show="showHint">Type your answer in the box below.</p>
    </div>
    <div id="gameCanvas">
      <div id="playerInput">
        <p class="tutorialText" ng-show="tutorialText">Use letters provided here to guess the correct word to spell.</p>
        <div ng-show="showTargetWord">
          <h4 class="targetWord">{{ instructions.testWords[instructions.currentWord].prompt }}</h4>
          <input focus-me="focusOnInput" ng-class="feedback" ng-model="input" type="text" name="spellWord" ng-paste="preventPaste($event)" ng-change="compare()" placeholder={{instructions.testWords[instructions.currentWord].word}} autofocus>
        </div>
        <h4 class="changeHeight" ng-class="correct ? 'hideMe' : 'showMe'">
          You are spelling the word wrong. Hit the delete key until the text box is no longer red.
        </h4>
      </div>
      <div id="playerSpell" class="glow noCharge"></div>
      <div class="character alepha alephaIdle"></div>
    </div>
  </div>
  <div ng-show="finishedMessage">
    <h4>You Have Completed the Tutorial!</h4>
    <button ng-click="goToSplash()">Back</button>
  </div>
</div>